/* ========== Variables ========== */
:root {
  /* |> Primary */
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* |> Neutral */
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --transparent-white-fifty: hsla(0, 0%, 100%, 0.5);
}

/* ========== Reset ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========== Global ========== */
body {
  color: var(--white);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 0.8125rem;

  background: var(--light-grayish-blue);
}

.container {
  padding: 1.5rem 2rem;
}

.grid {
  display: grid;
  gap: 1.125rem;
}

h1 {
  /* Screen readers only */
  width: 1px;
  height: 1px;
  overflow: hidden;

  position: absolute;
  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

h2 {
  font-size: 1.25rem;
}

/* ========== App ========== */
#app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========== Testimonials ========== */
#testimonials {
  width: min(87.5vw, 37.5rem);
  margin: 4.5rem 0;

  display: grid;
  gap: 1.5rem;
}

/* ========== Sections ========== */
#testimonials section {
  border-radius: 0.5rem;

  box-shadow: 1rem 1rem 1.75rem rgba(0, 0, 0, 0.05);
}

#testimonials section div {
  font-style: normal;
  height: fit-content;
  width: fit-content;

  display: grid;
  grid-auto-columns: 2rem auto;
  grid-auto-rows: auto;
  grid-template-areas:
    "image author"
    "image occupation";
  align-items: center;
  gap: 0 0.8125rem;
}

#testimonials section div img {
  grid-area: image;

  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
  border-radius: 50%;
}

#testimonials section div p.author {
  grid-area: author;

  font-weight: 500;
}

#testimonials section div p.occupation {
  grid-area: occupation;

  font-size: 0.6875rem;
  font-weight: 500;

  opacity: 0.5;
}

#testimonials section p:last-child {
  line-height: 1.125rem;

  opacity: 0.7;
}

/* ========== Daniel ========== */
#daniel {
  background: var(--moderate-violet) url(./images/bg-pattern-quotation.svg)
    no-repeat 90% 0%;
}

#daniel div img {
  border: 0.125rem solid var(--transparent-white-fifty);
}

/* ========== Jonathan ========== */
#jonathan {
  background: var(--very-dark-grayish-blue);
}

/* ========== Jeanette ========== */
#jeanette {
  color: var(--very-dark-grayish-blue);

  background: var(--white);
}

/* ========== Patrick ========== */
#patrick {
  background: var(--very-dark-blackish-blue);
}

#patrick div img {
  border: 0.125rem solid var(--moderate-violet);
}

/* ========== Kira ========== */
#kira {
  color: var(--very-dark-grayish-blue);

  background: var(--white);
}

/* ========== Responsive ========== */
@media (min-width: 1025px) {
  /* ========== Testimonials ========== */
  #testimonials {
    width: min(90vw, 68.75rem);
    margin: 2.75rem 0;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
    gap: 1.5rem 1.625rem;
  }

  /* ========== Daniel ========== */
  #daniel {
    grid-area: daniel;

    background-position: 82.5% 0%;
  }

  /* ========== Jonathan ========== */
  #jonathan {
    grid-area: jonathan;
  }

  /* ========== Jeanette ========== */
  #jeanette {
    grid-area: jeanette;
  }

  /* ========== Patrick ========== */
  #patrick {
    grid-area: patrick;
  }

  /* ========== Kira ========== */
  #kira {
    grid-area: kira;
  }
}

/* ========== Attributions ==========
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */
